.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.edit-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 0;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0;
  left: 110%;
}
.edit-bar button {
  width: 50%;
}
.edit-bar input {
  width: 95%;
}
.edit-bar textarea {
  height: 100px;
}

.comment .edit-bar {
  left: 60%;
}
.comment .edit-bar textarea {
  height: 57.5px;
}

.article, .comment {
  position: relative;
  width: 20%;
  margin-bottom: 5%;
}

.comment_section {
  overflow: hidden;
  height: 0;
  -webkit-transition: 1s;
  transition: 1s;
}
.comment_section form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.open {
  height: initial;
}

ul {
  list-style: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pagination li {
  margin-right: 15px;
}