.buttons {
  display: flex;
}

.info_bottom {
  display: flex;
  justify-content: space-between;
}

.edit-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 0;
  overflow: hidden;
  transition: 1s;
  top: 0;
  left: 110%;

  button {
    width: 50%;
  }

  input {
    width: 95%;
  }

  textarea {
    height: 100px;
  }
}

.comment .edit-bar {
  left: 60%;

  textarea {
    height: 57.5px;
  }
}

.article, .comment {
  position: relative;
  width: 20%;
  margin-bottom: 5%;
}

.comment_section {
  overflow: hidden;
  height: 0;
  transition: 1s;

  form {
    display: flex;
    flex-direction: column;
  }
}

.open {
  height: initial;
}

ul {
  list-style: none;
}

.pagination {
  display: flex;

  li {
    margin-right: 15px;
  }
}



