<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
    <link rel="stylesheet" th:href="@{/style/style.css}">
</head>
<body>
<header th:insert="modules/header.html"></header>
<ul class="articles">
    <li th:each="article : ${articles}" class="article">
        <p class="heading" th:text="${article.getHeading()}"></p>
        <p class="body" th:text="${article.getBody()}"></p>
        <div class="info_bottom">
            <p class="author" th:text="${article.getAuthor()}"></p>
            <p class="date" th:text="${article.getPublicationDate}"></p>
        </div>

        <div class="buttons">
            <button type="button" id="edit">Edit</button>
            <form th:action="@{/article/__${article.getId()}__/delete}" method="post">
                <button type="submit">Delete</button>
            </form> <!--Delete-->
        </div>

        <form class="edit-bar" method="POST" th:action="@{/article/__${article.getId()}__/edit}">
            <label>
                <input class="heading" name="heading" type="text" th:value="${article.getHeading()}"/>
            </label>
            <label>
                <textarea class="body" name="body" th:text="${article.getBody()}"></textarea>
            </label>
            <button type="submit">Edit</button>
        </form> <!--Update-->

        <button type="button" id="comments">Comment</button>
        <div class="comment_section">
            <a th:href="@{/article/__${article.getId()}__/comments}">
                <button>Show all comments</button>
            </a>
            <form th:action="@{/article/__${article.getId()}__/comment/create}" method="post">
                <label>
                    <textarea name="text"></textarea>
                </label>
                <button type="submit">Comment</button>
            </form>
        </div>
        <!--</form>-->
    </li>
</ul>
<ul th:if="${articles.totalPages > 0}" class="pagination">
    <li th:each="number : ${numbers}" th:class="${number == articles.number} ? active">
        <a th:href="@{'/articles?page=' + ${number}}" th:text="${number+1}"></a>
    </li>
</ul>
<script th:src="@{/script/index.js}"></script>
</body>
</html>