<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <title>Document</title>
</head>
<body>
<header th:insert="/modules/header.html"></header>
<ul class="comments">
    <li th:each="comment : ${comments}" class="comment">
        <b class="heading" th:text="${comment.getUsername()}"></b>
        <p class="body" th:text="${comment.getText()}"></p>

        <div class="buttons">
            <button type="button" id="edit">Edit</button>
            <form th:action="@{/article/__${comment.getArticleId()}__/comment/__${comment.getId()}__/delete}" method="post">
                <button type="submit">Delete</button>
            </form> <!--Delete-->
        </div>

        <form class="edit-bar" method="POST" th:action="@{/article/__${comment.getArticleId()}__/comment/__${comment.getId()}__/edit}">
            <label>
                <textarea class="text" name="text" th:text="${comment.getText()}"></textarea>
            </label>
            <button type="submit">Edit</button>
        </form>
    </li>
</ul>
<ul th:if="${comments.totalPages > 0}" class="pagination">
    <li th:each="number : ${numbers}" th:class="${number == comments.number} ? active">
        <a th:href="@{'/article/__${article_id}__/comments?page=' + ${number}}" th:text="${number+1}"></a>
    </li>
</ul>
<script th:src="@{/script/index.js}"></script>
</body>
</html>